name: Java CI with Maven and Security Scan

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-test-and-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test with Maven
        run: mvn clean verify

      - name: Upload JaCoCo Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

      # 4. MADDE: SECURITY SCANNING (OWASP)
      - name: Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'Rabbit-Hole'
          path: '.'
          format: 'HTML'
          # Eğer çok kritik bir açık bulursa build'i durdurur
          args: >
            --failOnCVSS 7